@page "/show-network-request-urls"
@model ShowNetworkRequestUrlsModel
@{
}

@section Meta {
    <title>
        Loggade URL:er -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Loggade URL:er
    </h4>

    <div class="notice">
        <ul>
            @if (!Model.URLs.Any())
            {
                <li>
                    🛑
                    &thinsp;
                    &ndash;
                </li>
            }
            @foreach (var agent in Model.URLs)
            {
                <li>
                    🛑
                    &thinsp;
                    @(agent)
                </li>
            }
        </ul>
    </div>

</main>
