@page "/show-network-request-user-agents"
@model ShowNetworkRequestUserAgentsModel
@{
}

@section Meta {
    <title>
        Loggade agenter -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Loggade agenter
    </h4>

    <div class="notice">
        <ul>
            @if (!Model.UserAgents.Any())
            {
                <li>
                    🛑
                    &thinsp;
                    &ndash;
                </li>
            }
            @foreach (var agent in Model.UserAgents)
            {
                <li>
                    🛑
                    &thinsp;
                    @(agent)
                </li>
            }
        </ul>
    </div>

</main>
