@page "/show-network-request-ip-addresses"
@model ShowNetworkRequestIpAddressesModel
@{
}

@section Meta {
    <title>
        Loggade IP-adresser -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Loggade IP-adresser
    </h4>

    <div class="notice">
        <ul>
            @if (!Model.IpAddresses.Any())
            {
                <li>
                    ⛔
                    &thinsp;
                    &ndash;
                </li>
            }
            @foreach (var address in Model.IpAddresses)
            {
                <li>
                    @(address)
                </li>
            }
        </ul>
    </div>

</main>
