@page "/execute-invoice-routine/{id:int}"
@model ExecuteInvoiceRoutineModel
@{
}

@section Meta {
    <title>
        Kör fakturarutin -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Invoice.cshtml", Model.UserToken)

<main>
    <h4>
        Kör fakturarutin
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.InvoiceId" />

        <p>
            <label asp-for="CommandModel.SendInvoiceEmail">
                <input asp-for="CommandModel.SendInvoiceEmail" type="checkbox" />
                Skicka epostfaktura/kreditering
            </label>
        </p>

        <p>
            <label asp-for="CommandModel.UpdateInvoiceAccountingRows">
                <input asp-for="CommandModel.UpdateInvoiceAccountingRows" type="checkbox" />
                Skapa kontering
            </label>
            
            <label asp-for="CommandModel.UpdateInvoicePaymentStatus">
                <input asp-for="CommandModel.UpdateInvoicePaymentStatus" type="checkbox" />
                Räkna om betalstatus
            </label>
        </p>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Kör
        </button>

        <a class="button" href="/show-invoice/@(Model.Invoice.Id)">
            Avbryt
        </a>
    </form>

</main>
