@page "/show-billing-plans"
@model ShowBillingPlansModel
@{
}

@section Meta {
    <title>
        Tidsplaner -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Invoice.cshtml", Model.UserToken)

<main>

    <h4>
        Tidsplaner
    </h4>

    @if (!Model.BillingPlans.Any())
    {
        <div class="notice">
            Det finns inga planer.
        </div>
    }

    @if (Model.BillingPlans.Any())
    {
        <figure style="width:100%">
            <table style="width:inherit">
                <tr>
                    <th>Sammanfattning</th>
                </tr>
                @foreach (var plan in Model.BillingPlans)
                {
                    <tr>
                        <td>
                            <a href="/show-billing-plan/@(plan.Id)">
                                @(plan.Name ?? "-")
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </figure>
    }

    <p>
        <a class="button" href="/add-billing-plan">Ny tidsplan</a>
    </p>

</main>
