@page "/show-billing-plans"
@model ShowBillingPlansModel
@{
}

@section Meta {
    <title>
        Tidsplan -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_BillingPlan.cshtml", Model.UserToken)

<main>

    <h4>
        Tidsplan
    </h4>

    <ul class="notice">
        @foreach (var plan in Model.BillingPlans)
        {
            <li>
                <a href="/show-billing-plan/@(plan.Id)">
                    @(plan.Name ?? "-")
                </a>
            </li>
        }
        @if (!Model.BillingPlans.Any())
        {
            <li>
                Det saknas tidsplan.
            </li>
        }
    </ul>

</main>
