@page "/add-invoice-draft-row/{id:int}"
@model AddInvoiceDraftRowModel
@{
}

@section Meta {
    <title>
        Lägg till rad i utkast -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Invoice.cshtml", Model.UserToken)

<main>
    <h4>
        Lägg till en rad i utkast
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.InvoiceDraftId" />

        <label asp-for="CommandModel.ArticleId">
            Artikel
        </label>
        <select asp-for="CommandModel.ArticleId">
            <option value="">–</option>
            @foreach (var article in Model.Articles)
            {
                <option value="@(article.Id)">
                    @(article.Name)
                </option>
            }
        </select>

        <label asp-for="CommandModel.Quantity">
            Kvantitet
        </label>
        <input asp-for="CommandModel.Quantity" placeholder="1,00" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Lägg till
        </button>

        <a class="button" href="/show-invoice-draft/@(Model.InvoiceDraft.Id)">
            Avbryt
        </a>
    </form>

</main>
