@page "/edit-invoice-draft-row/{id:int}"
@model EditInvoiceDraftRowModel
@{
}

@section Meta {
    <title>
        Redigera rad -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Redigera rad i fakturautkast:<br />
        @(Model.Customer.Name)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <label asp-for="CommandModel.Quantity">
            Kvantitet
        </label>
        <input asp-for="CommandModel.Quantity" placeholder="123,00" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-invoice-draft/@(Model.InvoiceDraft.Id)">
            Avbryt
        </a>
    </form>

</main>
