@page "/delete-user/{id:int}"
@model DeleteUserModel
@{
}

@section Meta {
    <title>
        Ta bort användare - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_NavbarAdmin" model="Model.UserToken" />
}

<main>
    <h4>
        Ta bort användaren:
        @(Model.User.Name)?
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />
        <input type="hidden" asp-for="CommandModel.Name" />

        <p>
            <label asp-for="CommandModel.Confirmed">
                <input asp-for="CommandModel.Confirmed" type="checkbox" />
                Ja, jag är säker
            </label>
        </p>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Ta bort
        </button>

        <a class="button" href="/show-user/@(Model.CommandModel.Id)">
            Avbryt
        </a>

    </form>

</main>
