@page "/edit-user/{id:int}"
@model EditUserModel
@{
}

@section Meta {
    <title>
        Redigera användare - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_NavbarAdmin" model="Model.UserToken" />
}

<main>
    <h4>
        Redigera användaren
        @(Model.CommandModel.Name)
    </h4>

    <form method="post">
        <input type="hidden" asp-for="CommandModel.Id" />

        <label asp-for="CommandModel.Name">
            Namn
        </label>
        <input asp-for="CommandModel.Name" />

        <p>
            <label asp-for="CommandModel.NoLogin">
                <input asp-for="CommandModel.NoLogin" type="checkbox" />
                Förhindra inloggning
            </label>

            <label asp-for="CommandModel.NoSave">
                <input asp-for="CommandModel.NoSave" type="checkbox" />
                Förhindra ändringar
            </label>
        </p>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-user/@(Model.CommandModel.Id)">
            Avbryt
        </a>
    </form>
</main>
