@page "/add-batch"
@model AddBatchModel
@{
}

@section Meta {
    <title>
        Ny batch -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Invoice.cshtml", Model.UserToken)

<main>
    <h4>
        Ny batch
    </h4>

    <form method="post">

        <label asp-for="CommandModel.Name">
            Sammanfattning
        </label>
        <input asp-for="CommandModel.Name" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Lägg till
        </button>

        <a class="button" href="/show-batches">
            Avbryt
        </a>
    </form>

</main>
