@page "/edit-batch/{id:int}"
@model EditBatchModel
@{
}

@section Meta {
    <title>
        Redigera batch -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Invoice.cshtml", Model.UserToken)

<main>
    <h4>
        Redigera
        <span class="muted">
            &thinsp;
            @(Model.Batch.Name)
        </span>
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <label asp-for="CommandModel.Name">
            Sammanfattning
        </label>
        <input asp-for="CommandModel.Name" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-batches">
            Avbryt
        </a>
    </form>

</main>
