@page "/add-invoice-template"
@model AddInvoiceTemplateModel
@{
}

@section Meta {
    <title>
        Skapa fakturamall -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Skapa fakturamall
    </h4>

    <form method="post">

        <label asp-for="CommandModel.Name">
            Namn
        </label>
        <input asp-for="CommandModel.Name"
               placeholder="Internt namn" />

        <label asp-for="CommandModel.Name">
            Sammanfattning
        </label>
        <input asp-for="CommandModel.Name"
               placeholder="Sammanfattning åt fakturamottagaren" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Lägg till
        </button>

        <a class="button" href="/show-invoice-templates">
            Avbryt
        </a>
    </form>

</main>
