@page "/edit-invoice-template/{id:int}"
@model EditInvoiceTemplateModel
@{
}

@section Meta {
    <title>
        Redigera fakturamall -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Redigera fakturamall:
        @(Model.InvoiceTemplate.Id)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        @* <label asp-for="CommandModel.TODO">
            Todo
        </label>
        <input asp-for="CommandModel.TODO" placeholder="TODO" /> *@

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-invoice-template/@(Model.InvoiceTemplate.Id)">
            Avbryt
        </a>
    </form>

</main>
