@page "/edit-invoice-template/{id:int}"
@model EditInvoiceTemplateModel
@{
}

@section Meta {
    <title>
        Redigera fakturamall -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_InvoiceTemplate.cshtml", Model.UserToken)

<main>
    <h4>
        Redigera
        <span class="muted">
            @(Model.InvoiceTemplate.Name)
        </span>
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <label asp-for="CommandModel.Name">
            Namn
        </label>
        <input asp-for="CommandModel.Name" 
               placeholder="Internt namn" />

        <label asp-for="CommandModel.About">
            Sammanfattning
        </label>
        <input asp-for="CommandModel.About"
               placeholder="Sammanfattning åt fakturamottagaren" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-invoice-template/@(Model.InvoiceTemplate.Id)">
            Avbryt
        </a>
    </form>

</main>
