@page "/show-invoice-templates"
@model ShowInvoiceTemplatesModel
@{
}

@section Meta {
    <title>
        Fakturamallar -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_InvoiceTemplate.cshtml", Model.UserToken)

<main>

    <h4>
        Fakturamallar
    </h4>

    @if (!Model.InvoiceTemplates.Any())
    {
        <div class="notice">
            Det finns inga mallar.
        </div>
    }

    @if (Model.InvoiceTemplates.Any())
    {
        <ul class="notice">
            
            @foreach (var template in Model.InvoiceTemplates)
            {
                <li>
                    <a href="/show-invoice-template/@(template.Id)">@(template.Name)</a>
                </li>
            }
        </ul>
    }

</main>
