@page "/show-invoice-templates"
@model ShowInvoiceTemplatesModel
@{
}

@section Meta {
    <title>
        Fakturamallar -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@* @section Style {
    <style>
        body {
            grid-template-columns: 1fr min(70rem, 90%) 1fr;
        }
    </style>
} *@

<main>

    <h4>
        Fakturamallar
    </h4>

    <figure>
        <table>
            <tr>
                <th>Namn</th>
            </tr>
            @foreach (var template in Model.InvoiceTemplates)
            {
                <tr>
                    <td>
                        <a href="/show-invoice-template/@(template.Id)">@(template.Name)</a>
                    </td>
                </tr>
            }
            @if (!Model.InvoiceTemplates.Any())
            {
                <tr>
                    <td colspan="1">
                        Inga
                    </td>
                </tr>
            }
        </table>
    </figure>

    <p>
        <a class="button" href="/add-invoice-template">
            Lägg till
        </a>
    </p>

</main>
