@page "/remove-network-rule/{id:int}"
@model RemoveNetworkRuleModel
@{
}

@section Meta {
    <title>
        Ta bort IP-adressintervall -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Ta bort IP-adressintervallet:
        @(Model.NetworkRule.Range)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <div asp-validation-summary="All"></div>

        <p>
            <label asp-for="CommandModel.Confirmed">
                <input asp-for="CommandModel.Confirmed" type="checkbox" />
                Ja, jag är säker
            </label>
        </p>

        <button type="submit">
            Ta bort
        </button>

        <a class="button" href="/show-network-rule/@(Model.NetworkRule.Id)">
            Avbryt
        </a>
    </form>

</main>
