@page "/show-network-rules"
@model ShowNetworkRulesModel
@{
}

@section Meta {
    <title>
        Brandvägg -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Brandvägg
    </h4>

    <div class="notice">
        <ul>
            @if (Model.IpFilterConfiguration.IsFiltering)
            {
                <li>✅ Aktiv</li>
            }
            else
            {
                <li>⚠️ Deaktiverad</li>
            }

            @if (Model.IpFilterConfiguration.LogBlockedRequest)
            {
                <li>🐵 Loggning på</li>
            }
            else
            {
                <li>🙈 Loggning av</li>
            }

            @if (Model.IpFilterConfiguration.BlockByDefault)
            {
                <li>🛑 Grundregel: blockerat</li>
            }
            else
            {
                <li>🛣️ Grundregel: öppet</li>
            }
        </ul>
    </div>

    <figure>
        <table>
            <tr>
                <th>Nätverk</th>
                <th>Blockerat</th>
                <th>Logga</th>
            </tr>
            @foreach (var rule in Model.NetworkRules)
            {
                <tr>
                    <td>
                        <a href="/show-network-rule/@(rule.Id)">
                            @(rule.BaseAddress)/@(rule.PrefixLength)
                        </a>
                    </td>
                    <td>
                        @if (rule.Blocked)
                        {
                            <span>🛑 Blockerat</span>
                        }
                        else
                        {
                            <span>🛣️ Öppet</span>
                        }
                    </td>
                    <td>
                        @if (rule.Log)
                        {
                            <span>🐵 Logga</span>
                        }
                        else
                        {
                            <span>🙈 Logga inte</span>
                        }
                    </td>
                </tr>
            }
            @if (!Model.NetworkRules.Any())
            {
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </table>
    </figure>

    <p>
        <a class="button" href="/add-network-rule">
            Lägg till adress
        </a>
    </p>

</main>
