@page "/delete-account-success"
@model DeleteAccountSuccessModel
@{
}

@section Meta {
    <title>
        Tack för den här tiden! - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Ditt konto är borttaget
    </h4>
    <p>
        Välkommen tillbaka senare!
    </p>
    <p>
        👋
    </p>

</main>
