@page "/sign-in"
@model SignInModel
@{
}

@section Meta {
    <title>
        Logga in? - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Logga in
    </h4>

    <p>
        @if (Model.SignInConfiguration.AllowSignInBySsn)
        {
            <a class="button" href="/sign-in-by-ssn">Med personnummer</a>
        }

        @if (Model.SignInConfiguration.AllowSignInByEmail)
        {
            <a class="button" href="/sign-in-by-email">Med epost</a>
        }

        @if (Model.SignInConfiguration.AllowSignInByPhone)
        {
            <a class="button" href="/sign-in-by-phone">Med telefonnummer</a>
        }
    </p>
    
</main>
