@page "/add-user-email"
@model AddUserEmailModel
@{
}

@section Meta {
    <title>
        Lägg till epostadress - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Lägg till epostadress
    </h4>

    <form method="post">

        <input asp-for="CommandModel.Address"
               placeholder="din@epostadress" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Lägg till
        </button>

        <a class="button" href="/show-account">
            Avbryt
        </a>
    </form>
</main>
