@page "/account/change-password"
@model ChangePasswordModel
@{
}

@section Meta {
    <title>
        Ändra lösenord - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_NavbarAccount" model="Model.UserToken" />
}

<main>
    <h4>
        Ändra lösenord
    </h4>

    <form method="post">
        <label asp-for="CommandModel.OldPassword" type="password">
            Nuvarande lösenord
        </label>

        <input asp-for="CommandModel.OldPassword" type="password" />

        <label asp-for="CommandModel.NewPassword" type="password">
            Nytt lösenord
        </label>

        <input asp-for="CommandModel.NewPassword" type="password" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/account/show-account">
            Avbryt
        </a>
    </form>

</main>
