@page "/show-session/{id:int}"
@model ShowSessionModel
@{
}

@section Meta {
    <title>Din inloggning - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_NavbarAdmin" model="Model.UserToken" />
}

<main>
    <h4>
        Inloggning
    </h4>

    <div class="notice">
        <b>Inloggad</b>
        <br />
        @(Model.Session?.Created?.ToFixedFormatDateShortTime() ?? "Okänt")
        <br />
        <br />
        @if (Model.Session?.Id == Model.UserToken.SessionId)
        {
            <em class="text-danger">
                Detta är din nuvarande session.
            </em>
        }
    </div>

    <p>
        @if (Model.CanEndSession)
        {
            <a class="button" href="/end-session/@(Model.Session.Id)">
                Avsluta sessionen
            </a>
        }

        <a class="button" href="/sessions">
            Avbryt
        </a>
    </p>
    
</main>
