@page "/unselect-client"
@model UnselectClientModel
@{
}

@section Meta {
    <title>Logga ut ur - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    
    <h4>
        Vill du logga ut ur @(Model.UserToken.ClientName)?
    </h4>
    
    <br>

    <div>
        <form method="post">

            <button type="submit">
                Logga ut
            </button>

            <a class="button" href="/show-lobby">
                Avbryt
            </a>
        </form>
    </div>
    
</main>
