@page "/edit-client-email-account/{id:int}"
@model EditClientEmailAccountModel
@{
}

@section Meta {
    <title>
        Redigera epostkonto -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_ClientNavbar" model="Model.UserToken" />
}

<main>
    <h4>
        Redigera epostkonto:
        @(Model.ClientEmailAccount.FromName)
        @(Model.ClientEmailAccount.FromAddress)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.ClientEmailAccountId" />

        <label asp-for="CommandModel.FromName">
            Avsändarnamn
        </label>
        <input asp-for="CommandModel.FromName" />

        <label asp-for="CommandModel.FromAddress">
            Epostadress
        </label>
        <input asp-for="CommandModel.FromAddress" />

        <label asp-for="CommandModel.ReplyToName">
            Svara till, namn
        </label>
        <input asp-for="CommandModel.ReplyToName" />

        <label asp-for="CommandModel.ReplyToAddress">
            Svara till, adress
        </label>
        <input asp-for="CommandModel.ReplyToAddress" />

        <label asp-for="CommandModel.Password">
            Lösenord
        </label>
        <input asp-for="CommandModel.Password" />

        <label asp-for="CommandModel.SmtpHost">
            SMTP-server
        </label>
        <input asp-for="CommandModel.SmtpHost" />

        <label asp-for="CommandModel.SmtpPort">
            SMTP-port
        </label>
        <input asp-for="CommandModel.SmtpPort" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-client-email-account/@(Model.ClientEmailAccount.Id)">
            Avbryt
        </a>
    </form>

</main>
