@page "/edit-client-email-account/{id:int}"
@model EditClientEmailAccountModel
@{
}

@section Meta {
    <title>
        Redigera epostkonto -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Redigera epostkonto
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <p>
            <h5>Server</h5>

            <label asp-for="CommandModel.SmtpHost">
                SMTP-server
            </label>
            <input asp-for="CommandModel.SmtpHost" />

            <label asp-for="CommandModel.SmtpPort">
                SMTP-port
            </label>
            <input asp-for="CommandModel.SmtpPort" />
        </p>

        <p>
            <h5>Avsändare</h5>

            <label asp-for="CommandModel.FromName">
                Namn
            </label>
            <input asp-for="CommandModel.FromName" />

            <label asp-for="CommandModel.FromAddress">
                Epostadress
            </label>
            <input asp-for="CommandModel.FromAddress" />
        </p>

        <p>
            <h5>Svara till</h5>

            <label asp-for="CommandModel.ReplyToName">
                Namn
            </label>
            <input asp-for="CommandModel.ReplyToName" />

            <label asp-for="CommandModel.ReplyToAddress">
                Epostadress
            </label>
            <input asp-for="CommandModel.ReplyToAddress" />
        </p>
        
        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-client-email-account/@(Model.ClientEmailAccount.Id)">
            Avbryt
        </a>
    </form>

</main>
