@page "/remove-client-email-account/{id:int}"
@model RemoveClientEmailAccountModel
@{
}

@section Meta {
    <title>
        Ta bort epostkonto -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_ClientNavbar" model="Model.ClientNavbarViewModel" />
}

<main>
    <h4>
        Ta bort epostkontot:
        @(Model.ClientEmailAccount.FromName)
        @(Model.ClientEmailAccount.FromAddress)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.ClientEmailAccountId" />

        <p>
            <label asp-for="CommandModel.Confirmed">
                <input asp-for="CommandModel.Confirmed" type="checkbox" />
                Ja, jag är säker
            </label>
        </p>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Ta bort
        </button>

        <a class="button" href="/show-client-email-account/@(Model.CommandModel.ClientEmailAccountId)">
            Avbryt
        </a>
    </form>

</main>
