@page "/set-client-email-account-password/{id:int}"
@model SetClientEmailAccountPasswordModel
@{
}

@section Meta {
    <title>
        Sätt lösenord för epostkonto -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Sätt lösenord för epostkonto:
        @(Model.ClientEmailAccount.FromAddress)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <label asp-for="CommandModel.Password">
            Lösenord
        </label>
        <input asp-for="CommandModel.Password" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-client-email-account/@(Model.ClientEmailAccount.Id)">
            Avbryt
        </a>
    </form>

</main>
