@page "/add-billing-strategy"
@model AddBillingStrategyModel
@{
}

@section Meta {
    <title>
        Ny strategi -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_BillingStrategy.cshtml", Model.UserToken)

<main>
    <h4>
        Ny strategi
    </h4>

    <form method="post">

        <label asp-for="CommandModel.Name">
            Namn
        </label>
        <input asp-for="CommandModel.Name" />

        <p>
            <label asp-for="CommandModel.Interest">
                <input asp-for="CommandModel.Interest" type="checkbox" />
                Dröjsmålsränta
            </label>

            <label asp-for="CommandModel.Reminder">
                <input asp-for="CommandModel.Reminder" type="checkbox" />
                Påminnelse
            </label>

            <label asp-for="CommandModel.Demand">
                <input asp-for="CommandModel.Demand" type="checkbox" />
                Inkassokrav
            </label>

            <label asp-for="CommandModel.Collect">
                <input asp-for="CommandModel.Collect" type="checkbox" />
                KFM-ansökan
            </label>
        </p>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Lägg till
        </button>

        <a class="button" href="/show-billing-strategies">
            Avbryt
        </a>
    </form>

</main>
