@page "/show-billing-strategy/{id:int}"
@model ShowBillingStrategyModel
@{
    var strategy = Model.BillingStrategy;
}

@section Meta {
    <title>Strategi - @(Model.BillingStrategy.Id) - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_BillingStrategy.cshtml", Model.UserToken)

<main>

    <h4>
        Strategi
        <span class="muted">
            &thinsp;
            @(strategy.Name)
        </span>
    </h4>

    <div class="notice">
        <ul>
            <li>
                @if (strategy.Interest)
                {
                    <span>✅ Dröjsmålsränta</span>
                }
                else
                {
                    <span>❌ Dröjsmålsränta</span>
                }
            </li>
            <li>
                @if (strategy.Reminder)
                {
                    <span>✅ Påminnelse</span>
                }
                else
                {
                    <span>❌ Påminnelse</span>
                }
            </li>
            <li>
                @if (strategy.Demand)
                {
                    <span>✅ Inkassokrav</span>
                }
                else
                {
                    <span>❌ Inkassokrav</span>
                }
            </li>
            <li>
                @if (strategy.Collect)
                {
                    <span>✅ KFM-ansökan</span>
                }
                else
                {
                    <span>❌ KFM-ansökan</span>
                }
            </li>
        </ul>

        <p>
            Fakturan anses betald om skulden understiger:<br />
            @(strategy.MinToConsiderPaid?.ToSwedish() ?? "–")
        </p>
    </div>

    <p>
        <a class="button" href="/edit-billing-strategy/@(Model.BillingStrategy.Id)">Redigera</a>
        <a class="button" href="/remove-billing-strategy/@(Model.BillingStrategy.Id)">Ta bort</a>
    </p>

</main>
