@page "/frontpage"
@model FrontpageModel
@{
}

@section Meta {
    <title>@(Branding.WebsiteTitle)</title>
}

@section Style {

}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h2>Betalish!</h2>

    <div class="notice">
        Vi har inte öppnat än.
    </div>

    <div class="notice">
        <p>
            Byggs av mig, <a href="https://kirilla.se">Jonas Sundström</a>. 🍄
        </p>
        <p>
            Källkod finns på <a href="https://github.com/kirilla/betalish">GitHub</a>. 🐛
        </p>
    </div>
</main>
