@page "/ping"
@model PingModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="sv-SE">
<head>
    <meta charset="utf-8" />
    <title>Pong</title>
</head>
<body>
    <h1>Pong!</h1>
</body>
</html>
