@page "/remove-client-email-messages"
@model RemoveClientEmailMessagesModel
@{
}

@section Meta {
    <title>
        Ta bort epostmeddelanden -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_ClientNavbar" model="Model.ClientNavbarViewModel" />
}

<main>
    <h4>
        Ta bort epostmeddelanden
    </h4>

    <form method="post">

        <label asp-for="CommandModel.EmailStatus">
            Status
        </label>

        <select asp-for="CommandModel.EmailStatus">
            <option value="">–</option>
            <option value="@(EmailStatus.Sent)">
                Skickade
            </option>
            <option value="@(EmailStatus.NotSent)">
                Ej skickade
            </option>
            <option value="@(EmailStatus.SendFailed)">
                Sändning misslyckades
            </option>
        </select>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Ta bort meddelanden
        </button>

        <a class="button" href="/show-client-email-queue">
            Avbryt
        </a>

    </form>

</main>
