@page "/show-admin-desktop"
@model ShowAdminDesktopModel
@{
}

@section Meta {
    <title>Klient - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_NavbarAdmin" model="Model.UserToken" />
}

<main>
    
    <h4>
        Admin
    </h4>
    
    <div class="notice">
        <h5>
            Inställningar
        </h5>
        <ul>
            <li>
                ⚙️
                &thinsp;
                <a href="/show-config">Konfiguration</a>
            </li>
            <li>
                🚦
                &thinsp;
                <a href="/show-network-rules">Brandvägg</a>
            </li>
        </ul>
    </div>
    
    <div class="notice">

        <h5>
            Epost
        </h5>

        <ul>
            <li>
                📤
                &thinsp;
                <a href="/show-email-queue">Skickad epost</a>
            </li>
            <li>
                🚀
                &thinsp;
                <a href="/send-test-email">Skicka testmeddelande</a>
            </li>
        </ul>
    </div>

    <div class="notice">

        <h5>
            Loggar
        </h5>

        <ul>
            <li>
                🛑
                &thinsp;
                <a href="/show-blocked-requests">Blockerade anrop</a>
            </li>
            <li>
                🛑
                &thinsp;
                <a href="/show-blocked-urls">Blockerade URL:er</a>
            </li>
            <li>
                🛑
                &thinsp;
                <a href="/show-blocked-user-agents">Blockerade agenter</a>
            </li>
            <li>
                🛑
                &thinsp;
                <a href="/show-blocked-ip-addresses">Blockerade IP-adresser</a>
            </li>
        </ul>
    </div>

    <div class="notice">

        <h5>
            Städning
        </h5>

        <ul>
            <li>
                🧹
                &thinsp;
                <a href="/remove-blocked-requests">
                    Ta bort blockerade sidbesök
                </a>
            </li>
            <li>
                🧹
                &thinsp;
                <a href="/remove-email-messages">
                    Ta bort epostmeddelanden
                </a>
            </li>
        </ul>
    </div>

</main>
