@page "/show-admin-desktop"
@model ShowAdminDesktopModel
@{
}

@section Meta {
    <title>Klient - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    
    <h4>
        Admin
    </h4>
    
    <div class="notice">
        <h5>
            Klienter
        </h5>
        <ul>
            <li>
                🏢
                &thinsp;
                <a href="/show-clients">Klienter</a>
            </li>
            <li>
                👥
                &thinsp;
                <a href="/show-users">Användare</a>
            </li>
        </ul>
    </div>

    <div class="notice">
        <h5>
            Inställningar
        </h5>
        <ul>
            <li>
                ⚙️
                &thinsp;
                <a href="/show-config">Konfiguration</a>
            </li>
            <li>
                🚦
                &thinsp;
                <a href="/show-network-rules">Brandvägg</a>
            </li>
            <li>
                🚧
                &thinsp;
                <a href="/show-rate-limiting">Anropsbegränsning</a>
            </li>
        </ul>
    </div>
    
    <div class="notice">

        <h5>
            Epost
        </h5>

        <ul>
            <li>
                📤
                &thinsp;
                <a href="/show-email-queue">Utgående kö</a>
            </li>
            <li>
                🚀
                &thinsp;
                <a href="/send-test-email">Skicka testmeddelande</a>
            </li>
            <li>
                🧹
                &thinsp;
                <a href="/remove-email-messages">
                    Ta bort epostmeddelanden
                </a>
            </li>
        </ul>
    </div>

    <div class="notice">

        <h5>
            Loggar
        </h5>

        <ul>
            <li>
                ‼️
                &thinsp;
                <a href="/show-log-items">Logghändelser</a>
            </li>
            <li>
                🛑
                &thinsp;
                <a href="/show-blocked-requests">Blockerade anrop</a>
            </li>
        </ul>
    </div>

    <div class="notice">

        <h5>
            Test
        </h5>

        <ul>
            <li>
                ⚙️
                &thinsp;
                <a href="/show-tests">
                    Testfunktioner
                </a>
            </li>
        </ul>
    </div>

</main>
