@page "/edit-onboarding-step/{id:int}"
@model EditOnboardingStepModel
@{
}

@section Meta {
    <title>
        Redigera steg -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Redigera steg:
        @(Model.OnboardingStep.OnboardingStepKind)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <label asp-for="CommandModel.OnboardingStepKind">
            Steg
        </label>
        <select asp-for="CommandModel.OnboardingStepKind">
            <option value="">–</option>
            <option value="@(OnboardingStepKind.InvoiceRange)">
                Fakturanummer
            </option>
        </select>



        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-onboarding-step/@(Model.OnboardingStep.Id)">
            Avbryt
        </a>
    </form>

</main>
