@page "/show-onboarding-step/{id:int}"
@model ShowOnboardingStepModel
@{
}

@section Meta {
    <title>Onboarding-steg - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Onboarding-steg
    </h4>

    <div class="notice">
        @if (Model.OnboardingStep.Done)
        {
            <span>Steget är gjort!</span>
        }
        else
        {
            <span>Steget är inte gjort.</span>
        }
    </div>

    <p>
        <a class="button" href="/edit-onboarding-step/@(Model.OnboardingStep.Id)">
            Redigera
        </a>

        @if (Model.UserToken.IsAdmin)
        {
            <a class="button" href="/remove-onboarding-step/@(Model.OnboardingStep.Id)">
                Ta bort
            </a>
        }
    </p>

</main>
