@page "/edit-invoice-template-row/{id:int}"
@model EditInvoiceTemplateRowModel
@{
}

@section Meta {
    <title>
        Redigera rad -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_InvoiceTemplate.cshtml", Model.UserToken)

<main>
    <h4>
        Redigera rad
        <span class="muted">
            @(Model.InvoiceTemplate.Name)
        </span>
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <label asp-for="CommandModel.Quantity">
            Kvantitet
        </label>
        <input asp-for="CommandModel.Quantity" placeholder="123,00" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-invoice-template/@(Model.InvoiceTemplate.Id)">
            Avbryt
        </a>
    </form>

</main>
