@page "/remove-invoice-template-row/{id:int}"
@model RemoveInvoiceTemplateRowModel
@{
}

@section Meta {
    <title>
        Ta bort rad -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_InvoiceTemplate.cshtml", Model.UserToken)

<main>
    <h4>
        Ta bort rad i fakturautkast:<br />
        @(Model.InvoiceTemplate.Name)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <p>
            <label asp-for="CommandModel.Confirmed">
                <input asp-for="CommandModel.Confirmed" type="checkbox" />
                Ja, jag är säker
            </label>
        </p>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Ta bort
        </button>

        <a class="button" href="/show-invoice-template/@(Model.InvoiceTemplate.Id)">
            Avbryt
        </a>
    </form>

</main>
