@model IUserToken
@{
}
<span class="page-menu">
    <a href="/show-invoices">🧾 Fakturor</a>
    <a href="/show-invoice-drafts">📝 Utkast</a>
    <a href="/show-batches">📂 Batcher</a>
    <a href="/add-invoice-related">➕ Lägg till</a>
</span>

<style>
    body {
        grid-template-columns: 1fr min(60rem, 90%) 1fr;
    }
</style>
