@model IUserToken
@{
}
<span class="page-menu">
    <a href="/show-invoices">🧾 Fakturor</a>
    <a href="/show-invoice-drafts">📝 Utkast</a>
    <a href="/add-invoice-draft">➕ Nytt</a>
    <a href="/show-batches">📂 Batcher</a>
</span>
