@model IUserToken
@{
}
<span class="page-menu">
    <a href="/show-payments">💰 Betalningar</a>
    <a href="/add-payment">➕ Ny betalning</a>
    <a href="/show-payment-accounts">🗃️ Konton</a>
</span>
