@page "/remove-account-phone"
@model RemoveAccountPhoneModel
@{
}

@section Meta {
    <title>
        Ta bort telefonnummer - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Vilket telefonnummer vill du ta bort?
    </h4>

    <form method="post">

        <label asp-for="CommandModel.Id">
            Telefonnummer
        </label>

        <select asp-for="CommandModel.Id">
            <option value="">–</option>
            @foreach (var phone in Model.UserPhones)
            {
                <option value="@(phone.Id)">
                    @(phone.Number)
                </option>
            }
        </select>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Ta bort
        </button>

        <a class="button" href="/show-account">
            Avbryt
        </a>
    </form>

</main>
