@page "/remove-ledger-account/{id:int}"
@model RemoveLedgerAccountModel
@{
}

@section Meta {
    <title>
        Ta bort artikel -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Articles.cshtml", Model.UserToken)

<main>
    <h4>
        Ta bort artikel:
        @(Model.LedgerAccount.Description)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <p>
            <label asp-for="CommandModel.Confirmed">
                <input asp-for="CommandModel.Confirmed" type="checkbox" />
                Ja, jag är säker
            </label>
        </p>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Ta bort
        </button>

        <a class="button" href="/show-ledger-account/@(Model.CommandModel.Id)">
            Avbryt
        </a>
    </form>

</main>
