@page "/show-ledger-accounts"
@model ShowLedgerAccountsModel
@{
}

@section Meta {
    <title>
        Bokföringskonton -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_LedgerAccounts.cshtml", Model.UserToken)

<main>

    <h4>
        Bokföringskonton
    </h4>

    @if (!Model.LedgerAccounts.Any())
    {
        <div class="notice">
            Det finns inga konton.
        </div>
    }

    @if (Model.LedgerAccounts.Any())
    {
        <figure>
            <table>
                <tr>
                    <th>Konto</th>
                    <th>Beskrivning</th>
                    <th></th>
                </tr>
                @foreach (var account in Model.LedgerAccounts)
                {
                    <tr>
                        <td>
                            <a href="/edit-ledger-account/@(account.Id)">
                                @(account.Account)
                            </a>
                        </td>
                        <td>
                            <a href="/edit-ledger-account/@(account.Id)">
                                @(account.Description)
                            </a>
                        </td>
                        <td>
                            <a href="/edit-ledger-account/@(account.Id)" class="nolink">
                                ✏️
                            </a>
                            <a href="/remove-ledger-account/@(account.Id)" class="nolink">
                                ❌
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </figure>
    }

</main>
