@page "/show-ledger-account/{id:int}"
@model ShowLedgerAccountModel
@{
}

@section Meta {
    <title>Bokföringskonto - @(Model.LedgerAccount.Description) - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Articles.cshtml", Model.UserToken)

<main>

    <h4>
        Bokföringskonto
    </h4>

    <figure>
        <table>
            <tr>
                <th>Konto</th>
                <th>Beskrivning</th>
            </tr>
            <tr>
                <td>
                    @(Model.LedgerAccount.Account)
                </td>
                <td>
                    @(Model.LedgerAccount.Description)
                </td>
            </tr>
        </table>
    </figure>

    <p>
        <a class="button" href="/edit-ledger-account/@(Model.LedgerAccount.Id)">
            Redigera
        </a>

        <a class="button" href="/remove-ledger-account/@(Model.LedgerAccount.Id)">
            Ta bort
        </a>
    </p>

</main>
