@page "/add-payment"
@model AddPaymentModel
@{
}

@section Meta {
    <title>
        Ny betalning -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Payment.cshtml", Model.UserToken)

<main>
    <h4>
        Ny betalning
    </h4>

    <form method="post">

        <label asp-for="CommandModel.Date">
            Datum
        </label>
        <input asp-for="CommandModel.Date" />

        <label asp-for="CommandModel.Amount">
            Belopp
        </label>
        <input asp-for="CommandModel.Amount" />

        <label asp-for="CommandModel.PaymentAccountId">
            Konto
        </label>
        <select asp-for="CommandModel.PaymentAccountId">
            <option value="">–</option>
            @foreach (var account in Model.PaymentAccounts)
            {
                <option value="@(account.Id)">
                    @(account.Name)
                </option>
            }
        </select>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-payments">
            Avbryt
        </a>
    </form>

</main>
