@page "/update-payment-accounting-rows/{id:int}"
@model UpdatePaymentAccountingRowsModel
@{
}

@section Meta {
    <title>
        Kontera betalning -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Payment.cshtml", Model.UserToken)

<main>
    <h4>
        Kontera betalning
        <span class="muted">
            @(Model.Payment.Date.ToIso8601()) - 
            @(Model.Payment.Amount.ToSwedish()) kr
        </span>
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <p>
            <label asp-for="CommandModel.Confirmed">
                <input asp-for="CommandModel.Confirmed" type="checkbox" />
                Ja, jag är säker
            </label>
        </p>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Skapa kontering
        </button>

        <a class="button" href="/show-payment/@(Model.Payment.Id)">
            Avbryt
        </a>
    </form>

</main>
