@using Betalish.Common.Enums
@using Betalish.Domain
@using Betalish.Web
@using Betalish.Web.Common
@model ClientNavbarViewModel
@{
}
<header>
    <nav>
        <a href="/show-client-desktop">@(Model.Client.Name)</a>
        <a href="/account/show-account">👤 @(Model.UserToken.Name)</a>
        <a href="/lobby">🔀</a>
        <a href="/account/sign-out">❌</a>
    </nav>
</header>
