@using Betalish.Common.Enums 
@using Betalish.Domain
@using Betalish.Web
@using Betalish.Web.Common
@model IUserToken
@{
}
<header>
    <nav>
        <a href="/">🫰 Betalish!</a>
        @if (!Model.IsAuthenticated)
        {
            <a href="/register-account">Skaffa konto</a>
            <a href="/sign-in">Logga in</a>
        }
        @if (Model.IsAuthenticated)
        {
            <a href="/show-account">👤 @(Model.Name)</a>
            <a href="/show-lobby">🔀</a>
            <a href="/sign-out">❌</a>
        }
    </nav>
</header>
