@using Betalish.Common.Enums
@using Betalish.Domain
@using Betalish.Web
@using Betalish.Web.Common
@model IUserToken
@{
}
<header>
    <nav>
        <a href="/">🫰 Betalish!</a>
        <a href="/admin/show-desktop">Admin</a>

        <a href="/admin/show-users">👥 Användare</a>
        <a href="/admin/show-clients">🏢 Klienter</a>

        <a href="/account/show-account">👤 @(Model.Name)</a>
        <a href="/lobby">🔀</a>
        <a href="/account/sign-out">❌</a>
    </nav>
</header>
