@using Betalish.Common.Enums
@using Betalish.Domain
@using Betalish.Web
@using Betalish.Web.Common
@model IUserToken
@{
}
<header>
    <nav>
        <a href="/lobby">Lobby</a>
        <a href="/account/show-account">👤 @(Model.Name)</a>
        <a href="/lobby">🔀</a>
        <a href="/account/sign-out">❌</a>
    </nav>
</header>
