@page "/add-customer"
@model AddCustomerModel
@{
}

@section Meta {
    <title>
        Lägg till kund -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("_Customers", Model.UserToken)

<main>
    <h4>
        Lägg till en kund/medlem
    </h4>

    <p>
        <a class="button" href="/add-customer-person">Person</a>
        <a class="button" href="/add-customer-organization">Organisation</a>
        <a class="button" href="/show-customers">Avbryt</a>
    </p>

</main>
