@page "/add-customer-organization"
@model AddCustomerOrganizationModel
@{
}

@section Meta {
    <title>
        Lägg till organisation -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Lägg till en organisation
    </h4>

    <form method="post">

        <label asp-for="CommandModel.Name">
            Namn
        </label>
        <input asp-for="CommandModel.Name" />

        <label asp-for="CommandModel.Orgnum">
            Organisationsnummer
        </label>
        <input asp-for="CommandModel.Orgnum" placeholder="123456-7890" />

        <br />

        <label asp-for="CommandModel.Address1">
            Adress
        </label>
        <input asp-for="CommandModel.Address1" />

        <label asp-for="CommandModel.Address2">
            @* Adress *@
        </label>
        <input asp-for="CommandModel.Address2" />

        <label asp-for="CommandModel.ZipCode">
            Postnummer
        </label>
        <input asp-for="CommandModel.ZipCode" />

        <label asp-for="CommandModel.City">
            Postort
        </label>
        <input asp-for="CommandModel.City" />

        <label asp-for="CommandModel.Country">
            Land
        </label>
        <input asp-for="CommandModel.Country" />

        <br />

        <label asp-for="CommandModel.EmailAddress">
            Epostadress
        </label>
        <input asp-for="CommandModel.EmailAddress" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Lägg till
        </button>

        <a class="button" href="/show-customers">
            Avbryt
        </a>
    </form>

</main>
