@page "/edit-customer-person/{id:int}"
@model EditCustomerPersonModel
@{
}

@section Meta {
    <title>
        Redigera person -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Customers.cshtml", Model.UserToken)

<main>
    <h4>
        Redigera person:
        @(Model.Customer.Name)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <label asp-for="CommandModel.Name">
            Namn
        </label>
        <input asp-for="CommandModel.Name" />

        <label asp-for="CommandModel.Ssn10">
            Personnummer
        </label>
        <input asp-for="CommandModel.Ssn10" placeholder="ÅÅMMDD-NNNN" />

        <br />

        <label asp-for="CommandModel.Address1">
            Adress
        </label>
        <input asp-for="CommandModel.Address1" />

        <label asp-for="CommandModel.Address2">
            @* Adress *@
        </label>
        <input asp-for="CommandModel.Address2" />

        <label asp-for="CommandModel.ZipCode">
            Postnummer
        </label>
        <input asp-for="CommandModel.ZipCode" />

        <label asp-for="CommandModel.City">
            Postort
        </label>
        <input asp-for="CommandModel.City" />

        <label asp-for="CommandModel.Country">
            Land
        </label>
        <input asp-for="CommandModel.Country" />

        <br />

        <label asp-for="CommandModel.EmailAddress">
            Epostadress
        </label>
        <input asp-for="CommandModel.EmailAddress" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-customer/@(Model.Customer.Id)">
            Avbryt
        </a>
    </form>

</main>
