@page "/show-customers"
@model ShowCustomersModel
@{
}

@section Meta {
    <title>
        Kunder -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Kunder
    </h4>

    <div class="notice">

        <ul>
            @foreach (var customer in Model.Customers)
            {
                <li>
                    👤
                    &thinsp;
                    <a href="/show-customer/@(customer.Id)">@(customer.Name)</a>
                    &ensp;
                    @(customer.Address)
                </li>
            }

            @if (!Model.Customers.Any())
            {
                <li>
                    👤
                    &thinsp;
                    &ndash;
                </li>
            }
        </ul>

    </div>

    @if (Model.CanAddCustomer)
    {
        <p>
            <a class="button" href="/add-customer">
                Lägg till
            </a>
        </p>
    }

</main>
