@page "/show-customer/{id:int}"
@model ShowCustomerModel
@{
}

@section Meta {
    <title>Kund - @(Model.Customer.Name) - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        👤
        @(Model.Customer.Name)
    </h4>

    <div class="notice">
        <ul>
            <li>
                @(Model.Customer.EmailAddress)
            </li>
        </ul>
    </div>

    <p>
        @if (Model.CanEditCustomer)
        {
            <a class="button" href="/edit-customer/@(Model.Customer.Id)">
                Redigera
            </a>
        }

        @if (Model.CanRemoveCustomer)
        {
            <a class="button" href="/remove-customer/@(Model.Customer.Id)">
                Ta bort
            </a>
        }
    </p>

</main>
