@page "/show-customers"
@model ShowCustomersModel
@{
}

@section Meta {
    <title>
        Kunder -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Customers.cshtml", Model.UserToken)

<main>

    <h4>
        Kunder
    </h4>

    <div class="notice">

        <ul>
            @foreach (var customer in Model.Customers)
            {
                @if (customer.CustomerKind == CustomerKind.Person)
                {
                    <li>
                        <span>👤</span>
                        &thinsp;
                        <a href="/show-customer/@(customer.Id)">@(customer.Name)</a>
                    </li>
                }
                @if (customer.CustomerKind == CustomerKind.Organization)
                {
                    <li>
                        <span>🏢</span>
                        &thinsp;
                        <a href="/show-customer/@(customer.Id)">@(customer.Name)</a>
                    </li>
                }
            }

            @if (!Model.Customers.Any())
            {
                <li>
                    👤
                    &thinsp;
                    &ndash;
                </li>
            }
        </ul>

    </div>

</main>
