@page "/test-email-account/{id:int}"
@model TestEmailAccountModel
@{
}

@section Meta {
    <title>
        Skicka testmeddelande -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Skicka testmeddelande
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <p>
            <label asp-for="CommandModel.ToName">
                ToName
            </label>
            <input asp-for="CommandModel.ToName" />

            <label asp-for="CommandModel.ToAddress">
                ToAddress
            </label>
            <input asp-for="CommandModel.ToAddress" />
        </p>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Skicka
        </button>

        <a class="button" href="/show-email-account/@(Model.EmailAccount.Id)">
            Avbryt
        </a>
    </form>

</main>
