@page "/show-session-records"
@model ShowSessionRecordsModel
@{
}

@section Meta {
    <title>
        Historiska sessioner -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Historiska sessioner
    </h4>

    <div class="notice">

        <ul>
            @foreach (var record in Model.SessionRecords)
            {
                <li>
                    😵
                    &thinsp;
                    <a href="/show-session-record/@(record.Id)">
                        @(record.User.Name)
                    </a>
                    @if (record.ClientId.HasValue)
                    {
                        <span>
                            &ensp;
                            @(record.Client?.Name ?? "Okänt")
                        </span>
                    }
                    &ensp;
                    <i>
                        @(record.DateTimeSummary)
                    </i>
                </li>
            }

            @if (!Model.SessionRecords.Any())
            {
                <li>
                    😵
                    &thinsp;
                    &ndash;
                </li>
            }
        </ul>

    </div>

    <p>
        <a class="button" href="/remove-session-records">
            Ta bort
        </a>
    </p>

</main>
