@page "/show-client-desktop"
@model ShowClientDesktopModel
@{
}

@section Meta {
    <title>@(Model.UserToken.ClientName) - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    
    <h4>
        @(Model.UserToken.ClientName)
    </h4>

    <div class="notice">
        <h5>
            Kunder
        </h5>
        <ul>
            <li>
                👤
                &thinsp;
                <a href="/show-customers">Kunder</a>
            </li>
            <li>
                🏷️
                &thinsp;
                <a href="/show-customer-tags">Etiketter</a>
            </li>
        </ul>
    </div>
    
    <div class="notice">
        <h5>
            Fakturering
        </h5>
        <ul>
            <li>
                🧾
                &thinsp;
                <a href="/show-invoices">Fakturor</a>
            </li>
            <li>
                📝
                &thinsp;
                <a href="/show-invoice-drafts">Utkast</a>
            </li>
            <li>
                📂
                &thinsp;
                <a href="/show-batches">Batcher</a>
            </li>
            <li>
                📐
                &thinsp;
                <a href="/show-invoice-templates">Mallar</a>
            </li>
        </ul>
    </div>

    <div class="notice">
        <h5>
            Betalning
        </h5>
        <ul>
            <li>
                💰
                &thinsp;
                <a href="/show-payments">Betalningar</a>
            </li>
            <li>
                🗃️
                &thinsp;
                <a href="/show-payment-accounts">Konton</a>
            </li>
        </ul>
    </div>

    <div class="notice">
        <h5>
            Rapporter
        </h5>
        <ul>
            <li>
                💰
                &thinsp;
                <a href="/show-payment-report">Betalrapport</a>
            </li>
            <li>
                🧾
                &thinsp;
                <a href="/show-invoice-report">Fakturarapport</a>
            </li>
            <li>
                🫰
                &thinsp;
                <a href="/show-unpaid-report">Kundfordringar</a>
            </li>
        </ul>
    </div>

    <div class="notice">
        <h5>
            Inställningar
        </h5>
        <ul>
            <li>
                📦
                &thinsp;
                <a href="/show-articles">Artiklar</a>
            </li>
            <li>
                📒
                &thinsp;
                <a href="/show-ledger-accounts">Bokföringskonton</a>
            </li>
            <li>
                📮
                &thinsp;
                <a href="/show-client-email-accounts">Epostkonto</a>
            </li>
            <li>
                🔟
                &thinsp;
                <a href="/show-invoice-ranges">Fakturanummer</a>
            </li>
            <li>
                🕑
                &thinsp;
                <a href="/show-billing-plans">Tidsplan</a>
            </li>
            <li>
                ⚔️
                &thinsp;
                <a href="/show-billing-strategies">Strategi</a>
            </li>
        </ul>
    </div>

    <div class="notice">
        <h5>
            Epost
        </h5>
        <ul>
            <li>
                📤
                &thinsp;
                <a href="/show-client-email-queue">Skickad epost</a>
            </li>
        </ul>
    </div>

    <div class="notice">
        <h5>
            Start
        </h5>
        <ul>
            <li>
                🥳
                &thinsp;
                <a href="/show-onboarding">Kom igång!</a>
            </li>
        </ul>
    </div>

</main>
