@page "/show-blocked-user-agents"
@model ShowBlockedUserAgentsModel
@{
}

@section Meta {
    <title>
        Blockerade agenter -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_NavbarAdmin" model="Model.UserToken" />
}

<main>

    <h4>
        Blockerade agenter
    </h4>

    <div class="notice">
        <ul>
            @if (!Model.UserAgents.Any())
            {
                <li>
                    🛑
                    &thinsp;
                    &ndash;
                </li>
            }
            @foreach (var agent in Model.UserAgents)
            {
                <li>
                    🛑
                    &thinsp;
                    @(agent)
                </li>
            }
        </ul>
    </div>

    <p>
        <a class="button" href="/remove-blocked-requests">
            Ta bort
        </a>
    </p>

</main>
