@page "/remove-user-events"
@model RemoveUserEventsModel
@{
}

@section Meta {
    <title>
        Ta bort användarhändelser -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Vill du ta bort alla användarhändelser?
    </h4>

    <br />

    <form method="post">

        <p>
            <label asp-for="CommandModel.Confirmed">
                <input asp-for="CommandModel.Confirmed" type="checkbox" />
                Ja, jag är säker
            </label>
        </p>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Ta bort
        </button>

        <a class="button" href="/show-user-events">
            Avbryt
        </a>

    </form>

</main>
