@page "/grant-user-client-auth/{userId:int}"
@model GrantClientAuthModel
@{
}

@section Meta {
    <title>
        Gör användare till admin för ... -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_NavbarAdmin" model="Model.UserToken" />
}

<main>
    <h4>
        Gör @(Model.User.Name) till admin för ...
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.UserId" />

        <label asp-for="CommandModel.ClientId">
            Klient
        </label>

        <select asp-for="CommandModel.ClientId">
            <option value="">–</option>
            @foreach (var client in Model.Clients)
            {
                <option value="@(client.Id)">
                    @(client.Name)
                </option>
            }
        </select>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Gör till admin
        </button>

        <a class="button" href="/show-user/@(Model.CommandModel.UserId)">
            Avbryt
        </a>

    </form>

</main>
