@page "/add-payment-account"
@model AddPaymentAccountModel
@{
}

@section Meta {
    <title>
        Nytt konto -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Payment.cshtml", Model.UserToken)

<main>
    <h4>
        Nytt konto
    </h4>

    <form method="post">

        <label asp-for="CommandModel.Name">
            Konto
        </label>
        <input asp-for="CommandModel.Name" />

        <label asp-for="CommandModel.Description">
            Beskrivning
        </label>
        <input asp-for="CommandModel.Description" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-payment-accounts">
            Avbryt
        </a>
    </form>

</main>
