@page "/approve-invoice-draft/{id:int}"
@model ApproveInvoiceDraftModel
@{
}

@section Meta {
    <title>
        Godkänn utkast -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Godkänn utkast:
        @(Model.InvoiceDraft.Customer_Name)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <p>
            <label asp-for="CommandModel.Confirmed">
                <input asp-for="CommandModel.Confirmed" type="checkbox" />
                Ja, jag är säker
            </label>
        </p>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Godkänn
        </button>

        <a class="button" href="/show-invoice-draft/@(Model.InvoiceDraft.Id)">
            Avbryt
        </a>
    </form>

</main>
