@page "/edit-invoice-draft/{id:int}"
@model EditInvoiceDraftModel
@{
}

@section Meta {
    <title>
        Redigera utkast -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    <h4>
        Redigera utkast:
        @(Model.InvoiceDraft.Customer_Name)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <label asp-for="CommandModel.About">
            Sammanfattning
        </label>
        <input asp-for="CommandModel.About"
               placeholder="Ex: köp, medlemsavgift, hyra, datum från-till" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-invoice-draft/@(Model.InvoiceDraft.Id)">
            Avbryt
        </a>
    </form>

</main>
