@page "/edit-invoice-draft/{id:int}"
@model EditInvoiceDraftModel
@{
}

@section Meta {
    <title>
        Redigera utkast -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Invoice.cshtml", Model.UserToken)

<main>
    <h4>
        Redigera utkast:
        @(Model.InvoiceDraft.Customer_Name)
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />
        <input type="hidden" asp-for="CommandModel.IsDebit" />

        @if (Model.CommandModel.IsDebit)
        {
            <label asp-for="CommandModel.PaymentTermsId">
                Betalvillkor
            </label>
            <select asp-for="CommandModel.PaymentTermsId">
                <option value="">–</option>
                @foreach (var terms in Model.PaymentTerms)
                {
                    <option value="@(terms.Id)">
                        @(terms.Name)
                    </option>
                }
            </select>
        }

        <p>
            <label asp-for="CommandModel.About" class="required">
                Sammanfattning
            </label>
            <input asp-for="CommandModel.About"
                   placeholder="Ex: köp, medlemsavgift, hyra, datum från-till" />
        </p>

        <p>
            <label asp-for="CommandModel.InvoiceDate">
                Fakturadatum
            </label>
            <input asp-for="CommandModel.InvoiceDate" />
        </p>

        <p>
            <label asp-for="CommandModel.Customer_Address1">
                Adress
            </label>
            <input asp-for="CommandModel.Customer_Address1" />

            <label asp-for="CommandModel.Customer_Address2">
                Adress, extra rad
            </label>
            <input asp-for="CommandModel.Customer_Address2" />

            <label asp-for="CommandModel.Customer_ZipCode" class="required">
                Postnummer
            </label>
            <input asp-for="CommandModel.Customer_ZipCode" />

            <label asp-for="CommandModel.Customer_City" class="required">
                Postort
            </label>
            <input asp-for="CommandModel.Customer_City" />

            <label asp-for="CommandModel.Customer_Country">
                Land
            </label>
            <input asp-for="CommandModel.Customer_Country" />
        </p>

        <p>
            <label asp-for="CommandModel.Customer_Email">
                E-post
            </label>
            <input asp-for="CommandModel.Customer_Email" />
        </p>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-invoice-draft/@(Model.InvoiceDraft.Id)">
            Avbryt
        </a>
    </form>

</main>
