@page "/show-invoice-drafts"
@model ShowInvoiceDraftsModel
@{
}

@section Meta {
    <title>
        Fakturautkast -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Fakturautkast
    </h4>

    @if (!Model.InvoiceDrafts.Any())
    {
        <div class="notice">
            Det finns inga fakturautkast.
        </div>
    }

    @if (Model.InvoiceDrafts.Any())
    {
        <figure>
            <table>
                <tr>
                    <th>Kund</th>
                </tr>
                @foreach (var draft in Model.InvoiceDrafts)
                {
                    <tr>
                        <td>
                            <a href="/show-invoice-draft/@(draft.Id)">
                                @(draft.Customer.Name)
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </figure>
    }

    <p>
        <a class="button" href="/add-invoice-draft">
            Nytt utkast
        </a>
    </p>

</main>
